Floating IP Information,network/get-float-ip-info.sh
Instances Information,compute/get-instance-info.sh
Assign User to Project,identity/assign-user-to-project.sh
Import Volume from NetApp,volumes/import-vol-from-netapp.sh
